body {
    font-family: "Roboto", serif;
}
#navbar {
    background-image: linear-gradient(#C1DBB3, #c1dbb3a1);
    display: flex;
    
    justify-content: center;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
    padding-left: 1em;
    padding-right: 1em;
    
}

li {
    padding: 1em;
    text-align: center;
}

.dropdown-content {
    
    position: fixed;
    background-image: linear-gradient(#FAEDCA, #faedca8c);
    max-height: 0px;
    overflow: hidden;
    transition: max-height 300ms ease-in-out;
    

}

.dropdown-container {
    padding: 1em;
    text-align: center;
    
}

.dropdown-head{
    padding: 1em;
    position: relative;
}

.dropdown-container:hover>.dropdown-content{
    max-height: 500px;
    visibility: inherit;
    
}